.education__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.education__item {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  gap: 1.2rem;
}

.education__item:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.education__icon {
  color: var(--color-primary);
  font-size: 2rem;
  flex-shrink: 0;
}

.education__item h3 {
  color: var(--color-primary);
  margin-bottom: 0.4rem;
}

.education__item h4 {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--color-light);
  margin-bottom: 0.6rem;
}

.education__item p {
  font-size: 0.9rem;
  color: var(--color-light);
}

@media screen and (max-width: 1000px) {
  .education__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .education__item {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .education__item {
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }
}
