.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
  overflow: hidden;
}
.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio__item-image {
  height: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio__item-image img {
  height: 100%;
  object-fit: fill;
}

.portfolio__item h3 {
  margin: 0.6rem 0;
}

.portfolio__item h4 {
  margin-bottom: 0.8rem;
  /* line-height: 2rem; */
}
.portfolio__item-cta {
  display: flex;
  /* flex: 1; */
  justify-content: space-around;
  margin-bottom: 0.6rem;
}

/* tablets */
@media screen and (max-width: 1000px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  /* .portfolio__item-cta {
    margin-top: 5rem;
  }
  .portfolio__item h3 {
    margin: 1.2rem 0;
  }
  .portfolio__item h4 {
    margin: 1.2rem 0;
    line-height: 2rem;
  } */
}
